.stack {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 90%;
  height: 100%;
  z-index: -99;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .stack {
    flex-direction: column;
    height: fit-content;
    width: 90%;
  }
}

