.covidata {
  background-color: rgb(192, 208, 207);
  /* margin-left: -400px; */
}

.covidata h1 {
  font-weight: 600;
  /* font-size: 4rem; */
  color: black;
  /* color: rgb(192, 208, 207); */
  /* text-shadow: -6px 6px 15px rgba(0, 0, 0, 0.5), 6px -6px 15px; */
}

.covidata p {
  color: black;
}

@media (max-width: 768px) {
  .covidata {
    margin-left: 0;
    /* margin-top: -300px; */
  }
}