.cura {
  background-color: rgb(216, 224, 224);
}

.cura h1 {
  font-weight: 600;
  /* font-size: 4rem; */
  color: black;
  /* color: rgb(216, 224, 224); */
  /* text-shadow: -6px 6px 15px rgba(0, 0, 0, 0.5), 6px -6px 15px; */
}

.cura p {
  color: black;
}

@media (max-width: 768px) {
  .cura {
    margin-left: 0;
  }
}