.cura {
    .app-icon {
        background-image: url(../../../../assets/CuraLogo.png);
    }
      //react
  .project-icons-1 {
    position: sticky;
    transform: translate3d(35vw, -5vh, 0);
  }
  //SASS
  .project-icons-2 {
    position: sticky;
    transform: translate3d(65vw, -5vh, 0);
  }
  //NODE
  .project-icons-3 {
    position: sticky;
    transform: translate3d(30vw, -5vh, 0);
  }
  //MONGO
  .project-icons-4 {
    position: sticky;
    transform: translate3d(60vw, -5vh, 0);
  }
}