.new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
  .heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    .app-icon {
      height: 75px;
      width: 75px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 25rem;
    }
    .project-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    position: relative;
    .project-icons {
      width: 100%;
      height: 80vh;
      position: relative;
      top: 0;
      left: 0;
    }
    .project-icons svg {
      width: 125px;
      height: 125px;
    }
    .project-icons img {
      width: 125px;
      height: 125px;
    }
    .project-description {
      position: relative;
      transform: translate3d(0rem, -35rem, 0rem);
      width: 25% !important;
      display: flex;
      align-self: center;
      z-index: 2;
      font-weight: 500;
    }
  }
}

#mouse-parallax-container {
  overflow: visible !important;
}


//size
//color
//text
//alignment
