.card {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  width: 50%;
  height: 80%;
  margin: 10px;
  /* margin: 10%; */
  padding: 20px;
  box-shadow: 3px 2px 12px -3px rgba(172, 172, 172, 0.5) inset;
  -webkit-box-shadow: 3px 2px 12px -3px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 3px 2px 12px -3px rgba(0, 0, 0, 0.75) inset;
}

.card a {
  color: black;
}

.card h1 {
  color: black;
}

.projectIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: flex-start;

  width: 100%;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.projectIcons svg {
  width: 75px;
  height: 75px;
}

.card p {
  font-size: 1.25rem;
  font-weight: 400;
}

.main {
  width: 80%;
  height: 100%;
  padding: 20px;
  text-align: justify;
}

.main .overview {
  height: 80%;
}

.overview img {
  height: 75px;
  width: 75px;
}

.card-body {
  display: flex;
  align-self: flex-end;
}

.main .project-buttons {
  height: 15%;
}

.main button {
  border: none;
  background-color: transparent;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
  width: 10%;
  /* justify-content: space-evenly; */
  height: 100%;
}

.card-title img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card-title svg {
  height: 50px;
  width: 50px;
}

.card-title h1 {
  height: fit-content;
  /* transform: rotate(-90deg); */
  white-space: nowrap;
  margin-bottom: 75px;
  font-size: 50px;
}

.buttonOverlay .project-buttons button {
  position: relative;
  left: 0;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
  }

  .card .main {
    height: 500px;
    overflow: hidden;
  }

  .card-title {
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .card-title h1 {
    font-size: 30px;
    margin: 0px;
  }

  .card-title img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
  }

  .main .project-buttons {
    margin-top: 50px;
    height: 10%;
  }
}

.radius {
  border-radius: 25px;
}

.card-title .radius img {
  height: 100px;
  width: 100px;
}
