.developerCard {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-content: center;
  padding-left: 1%;
  justify-content: center;
}

.cardHeader h1 {
  font-weight: 600;
  font-size: 20vh;
  font-weight: 600;
  /* color: #c0c0c0; */
  /* text-shadow: -6px 6px 15px rgba(0, 0, 0, 0.5), 6px -6px 15px; */
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  margin: 0;
  padding: 0rem 1rem;
}

.developerCard .dev-card-apps {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  width: fit-content;
  overflow-x: scroll;
  height: 100%;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 70vh;
  width: 100vw;
  margin: 0 auto;
}

.slides > div {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* font-family: "Inter", sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
}

.cardDescription {
  display: flex;
  align-content: center;
  width: 100%;
}

.buttonOverlay {
  width: 100%;
}

.buttonOverlay button {
  background-color: transparent;
  border: none;
  position: fixed;
  left: 63%;
  top: 5%;
}

.cardDescription p {
  /* font-family: "Inter", sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  line-height: 2rem;
  font-size: 20px;
}

.developerCard .cardDescription {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0%;
}

  
  