.photographerCard .cardDescription {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  margin: 0 auto;
}

.photographerCard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.photographerCard p {
  color: white;
  margin: 0;
  margin-bottom: 5rem;
  padding: 2rem;
}

.photographerCard .slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 50vh;
  width: 50vw;
  margin: 0 auto;
}

.photographerCard .slides > div {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

.cardDescription p {
  width: 40vw;
}

.imageStack {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 60vh;
  width: 50vw;
  margin: 0 auto;
}

.slides img {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-content: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
