@import "../../../styles/fonts.scss";

.cura-new {
  top: 255vh;
  left: 10vw;
  background-color: rgb(216, 224, 224);
  background: #d8e0e0;
  box-shadow: inset 8px 8px 11px #c2caca, inset -8px -8px 11px #eef6f6;
  .app-icon {
    background-image: url(../../../assets/CuraLogo.png);
  }
  .card-body {
    .project-icons {
      position: absolute;
      left: 50%;
    }
    .project-icons svg {
      width: 125px;
      height: 125px;
    }
    .project-icons img {
      width: 125px;
      height: 125px;
    }
    //REACT
    .project-icons-1 {
      position: absolute;
      transform: translate(15vw, -20vh);
    }
    //FIREBASE
    .project-icons-2 {
      position: absolute;
      transform: translate(-25vw, -10vh);
    }
    //SHOPIFY
    .project-icons-3 {
      position: absolute;
      transform: translate(15vw, 45vh);
    }
    .project-description {
      position: relative;
      width: 50%;
      margin: 0 auto;
      p {
        font-size: 1.5vw;
        font-family: PangramBook;
      }
    }
  }
}

@media (max-width: 768px) {
  .cura-new {
    top: 270vh;
    left: 5vw;
    width: 90vw;
  }
  .cura-new {
    .card-body {
      .project-icons svg {
        width: 50px;
        height: 50px;
      }
      .project-icons img {
        width: 50px;
        height: 50px;
      }
      //REACT
    .project-icons-1 {
      position: absolute;
      transform: translate(35vw, -20vh);
    }
    //RAILS
    .project-icons-2 {
      position: absolute;
      transform: translate(-47vw, 15vh);
    }
    //RUBY
    .project-icons-3 {
      position: absolute;
      transform: translate(35vw, 50vh);
    }
    .project-description {
      width: 60%;
      margin: 0 auto;
      p {
        font-size: 4.5vw;
        font-family: PangramBook;
        text-align: justify;
      }
    }
    }
  }
}
