.cultcatalogue {
  background-color: white;
}

.cultcatalogue p { 
  color: black;
}

.cultcatalogue .card-title h1 {
  color: black;
  font-size: 40px;
}

@media (max-width: 768px) {
  .cultcatalogue {
    margin-left: 0px;
  }
}
