.mission {
  background-image: url(../../../assets/background.png);
  z-index: 5;
  margin-left: -400px;
}

@media (max-width: 768px) {
  .mission {
    margin-left: 0px;
    margin-bottom: 25px;
  }
}