.pass-the-spatula {
  z-index: 9;
  /* margin: -100px; */
  margin-left: -400px;
  background-color: rgb(255, 175, 4);
}

@media (max-width: 768px) { 
  .pass-the-spatula {
    margin-left: 0;
    margin-top: 25px;
  }
}