.covid {
  background-color: rgb(192, 208, 207);
  .app-icon {
    background-image: url(../../../assets/Covid.png);
  }
  //CSS
  .project-icons-1 {
    position: absolute;
    transform: translate(15vw, -20vh);
  }
  //JS
  .project-icons-2 {
    position: absolute;
    transform: translate(-30vw, -5vh);
  }
  //HTML5
  .project-icons-3 {
    position: absolute;
    transform: translate(5vw, 15vh);
  }
}
